<header class="header">
    <div class="container">
      <div class="container-left">
        <figure class="logo">
          <a href="/">
            <h1 class="site-title">🍔 Yeonjun's Node Site</h1>
          </a>
        </figure>
        
        <%- include('nav'); %>

      </div>
    </div>
  </header>